#set $validChildren = $gntmlNavigation.validChildren.getChildren($node)
#if ($validChildren.Size > 0) {
  <ul>
  #foreach $childNode in $validChildren {
    #set $singleScalableImage = $childNode.compile.pageImg
    <li>
    #if ($singleScalableImage == null) {
      page doesn't support images
    } #else {
      #eval $Global.ScalableSingleImage using { 
        "scalableSingleImage":$singleScalableImage,
        "grid":1
      }
    }
    </li>
  }
  </ul>
}
