#set $validChildren = $gntmlNavigation.validChildren.getChildren($node)
#if ($validChildren.Size > 0) {
  #set $paginator = $nodeRequest.getPaginator("n$gntmlNavigation.id", $gntmlNavigation.paginationSize)
  $paginator.setSourceQuery($validChildren)
  #set $itemName = $gntmlNavigation.itemName
  #set $itemNames = $gntmlNavigation.itemsName
  #include as template "paginatorMenu.wm.html"
  <ul>
  #foreach $childNode in $paginator.Records {
    #set $singleScalableImage = $childNode.compile.pageImg
    <li>
    #if ($singleScalableImage == null) {
      page doesn't support images
    } #else {
      #eval $Global.ScalableSingleImage using { 
        "scalableSingleImage":$singleScalableImage,
        "grid":1
      }
    }
    </li>
  }
  </ul>
}
