#set $validChildren = $gntmlNavigation.validChildren.getChildren($node)
#if ($validChildren.Size > 0) {
  <ul>
  #foreach $childNode in $validChildren {
    <li><strong>$childNode.href.title</strong></li>
  }
  </ul>
}
