body { 
  font-size: 100%;
  font-family: Verdana;
}

p { 
  text-align: left;
}

h4 { 
  margin-top: 0;
}

#wrapper { 
  text-align: center;
  width: 50em;
  border: solid 1px black;
  margin: 1em;
  padding: 1em;
}

.gntml_left { 
  float: left;
  margin: 0 1em 1em 0;
}

.gntml_leftpage { 
  width: 16em;
  float: left;
  margin: 0 1em 1em 0;
  text-align: left;
}

.gntml_right { 
  float: right;
  margin: 0 0 1em 1em;
}

.gntml_rightpage { 
  width: 16em;
  float: right;
  margin: 0 0 1em 1em;
  text-align: right;
}

.gntml_center { 
  clear: both;
  width: 75%;
  padding: 1em;
  margin: 1em auto;
  border:solid 1px grey;
}

.gntml_image_caption, .gntml_download_caption { 
  font-size: 80%;
  margin-top: 1em;
}

.gntml_image, .gntml_download { 
}

img.gntmlThumbnail { 
  width: 8em;
}

img.gntmlPage { 
  width: 16em;
}

img.gntmlZoom { 
  width: 100%;
}




