ul.abcPaginator { 
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.abcPaginator li { 
  display: inline;  
  padding: 1px;
}

.clear,
.enddl,
.endAbcPaginator
{ 
  clear: both;
}

dl
{
  padding: 0;
  width: 100%;
}
 
dt
{
  width: 30%;
  height: auto;
  float: left;
  margin: 0;
  padding: .2em 1em .2em .2em;
  text-align: right;
  vertical-align: top;
}
 
/* commented backslash hack for mac-ie5 \*/
dt { clear: both; }
/* end hack */
 
dd
{
  float: left;
  width: 65%;
  margin: 0;
  padding: .2em;
  vertical-align: top;
}

dd textarea { 
  width: 100%;
  height: 6em;
}

dd select {
  width: 100%;
}

dd select.fastdate { 
  width: auto;
}

dd input { 
  width: 100%;
}

dd input[type=checkbox],
dd input[type=radio]
{ 
  width: auto;
}

.editTargetNodeForm { 
  display: inline;
}

.editManager { 
  margin-top: 1em;
}

.tabSelector { 
  margin: 2px;
}


.fieldWidget { 
  text-align: left;
  width: 200px;
}

.fieldName  { 
  text-align: left;
  vertical-align: middle;
}

.editSummary {
  width: 300px;
  height: 100px;
}

.editPageHeader, .editPageBody, .editPageFooter {
  width: 100%;
  height: 200px;
}

.widgetGrouping, .updateForm { 
  background-color: #e5e5e5;
  border-top: 1px solid #f9f9f9;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #f9f9f9;
  margin: 2px;
  clear: both;
}

.edit_controls { 
}


.createChildren { 
  text-align: right;
}

.widgetGroupingContent { 
  margin: 2px;
}

.widgetGroupingContent textarea { 
  width: 100%;
  height: 20em;
}

.widgetGroupingTitle { 
  font-weight: bold;
  padding: 2px;
}

.widgetLabel { 
  float: left;
  clear: left;
  width: 25%;
  text-align: right;
  padding-right: 5px;
}

.widgetText { 
}

.viewControls { 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

form { 
  margin: 0px; 
  padding: 0px; 
}

