<!-- awtwf/Gntml/abstractListBlock.edit.wm.html -->

#set $blockName = $gntmlBlock.BlockName
#set $listInstance = $gntmlBlock.Instance

<input type="hidden" name="$(listInstance.namePrefix)isActive" value="true" />
$listInstance.asFormElement.listTitle


<div class="w_labelWidget">
<label for="$(listInstance.namePrefix)listingView">Listing view</label>
<div class="w_widget w_select">
<select name="$(listInstance.namePrefix)listingView" id="$(listInstance.namePrefix)listingView">
#foreach $viewOption in $gntmlBlock.ViewOptions.Options {
  <option value="$viewOption.Name" #if ($viewOption.Name == $listInstance.listingView) { selected }>$viewOption.EnglishName</option>
}
</select>
</div>
</div><!-- w_labelWidget -->

#if ($nodeManager.supportsBackLinks()) {
  $listInstance.asFormElement.hasBackLinks
  #if ($listInstance.hasBackLinks) {
    $listInstance.asFormElement.backLinkTitle
  }
}


<div class="w_labelWidget">

<label for="$(listInstance.namePrefix)target_ids">Currently selected</label>

<div class="w_widget w_value">
<a href="$listInstance.browseTargetsUrl">Browse for $gntmlBlock.Name?</a>
</div>

<div class="w_widget w_value">
<input name="$(listInstance.namePrefix)target_id-isActive" type="hidden" value="true" />
<table>
#foreach $listLinkInstance in $listInstance.get($gntmlBlock.LinkInstancesName) {
  #set $listLinkTarget = $listLinkInstance.get($gntmlBlock.TargetName)
  <tr>
  
  <td>
  $listLinkTarget.href.title
  </td>
    
  <td>
  <input class="w_digit" name="$(listInstance.namePrefix)target_id-$listLinkTarget.id-number" value="$listLinkInstance.number" class="number" />
  </td>
    
  <td>
  <input name="$(listInstance.namePrefix)target_id" type="hidden" value="$listLinkTarget.id" />
  <input name="$(listInstance.namePrefix)target_id-$listLinkTarget.id-isDefined-active" type="hidden" value="true" />
  <input name="$(listInstance.namePrefix)target_id-$listLinkTarget.id-isDefined" type="checkbox" #if ($listLinkInstance.isDefined) { checked } />
  </td>
    
  </tr>
}
</table>
</div>
</div><!-- w_labelWidget -->

<!-- ! awtwf/Gntml/abstractListBlock.edit.wm.html -->
