#if ($gntmlDownloadInstance.title != "") {
  <h4>$gntmlDownloadInstance.title</h4>
}
#if ($gntmlDownloadInstance.isUploaded) {
  <p>
  <a href="$assetDomain$gntmlDownloadInstance.path">$gntmlDownloadInstance.filename</a>
  <span class="gntml_download_size">($gntmlDownloadInstance.format.name - $gntmlDownloadInstance.formattedSize)</span>
  #if ($gntmlDownloadInstance.description != "") {
    <span class="gntml_download_caption">$gntmlDownloadInstance.description</span>
  }  
  </p>
	#if ($gntmlDownloadInstance.format.extension == ".mp3") {
		#set $Global.BinaryAsset_hasAudio = true
	}
} #else {
  <div class="gntml_error">
  No asset uploaded.
  </div>
}
