#if ($gntmlEmbedVideo.title != "") {
<strong>$gntmlEmbedVideo.title</strong>
}
#if ($gntmlEmbedVideo.isValid) {
$gntmlEmbedVideo.atWidth.get($blockStyle_width)
} #else {
<div class="gntml_error">
Embed Video: $gntmlEmbedVideo.errorMessage
</div>
}
