
<!-- awtwf/Gntml/gntml.edit.wm.html -->
<fieldset>

#include as template "node/abstractContentCompilerHeader.edit.wm.html"
#if ($compiledRegion.isDefined) {
  #set $gntmlInstance = $compiledRegion
  #set $gntmlDocument = $gntmlInstance.gntmlDocument
  #set $gntmlStyle = $gntmlInstance.style
  #set $regionName = $gntmlInstance.regionStyle.name
  
  $Forms.value("GNTML document type", $compiledRegion.style.name, "GntmlStyle_name")
  ## This textarea is surrounded with a do-nothing div to work-around a bug in
  ## IE6/7 that causes textareas in the top level of a fieldset to acquire a
  ## margin that is the total of the margins of the fieldset's containing
  ## blocks.  Surrounding with a do-nothing div fixes the problem.  See:
  ##   http://bubblessoc.net/2005/05/04/ie-fieldset-bug/
  ## Ignore the comments.  There may be a better site on Google, but I haven't
  ## found it, and the above accurately describes the bug (I've verified it
  ## independently).
  <div>
  <textarea class="gntmledit $gntmlInstance.style.editCss" name="$regionName-gntml">$gntmlInstance.gntml</textarea>
  </div>

  #foreach $gntmlBlock in $gntmlDocument.Blocks {
    #if ($gntmlBlock.hasEditWidget()) {
      <fieldset>
      <legend>$gntmlBlock.GntmlBlockFactory.EnglishName: $HTMLEscape($gntmlBlock.BlockName)</legend>
      #include as template "$gntmlBlock.EditTemplatePath"
      </fieldset>
    }
  }
  
  #foreach $inlineTag in $gntmlDocument.GntmlParser.InlineTags {
    #if ($inlineTag.hasEditWidget()) {
      #include as template "$inlineTag.EditTemplatePath"
    }
  }
  
}
</fieldset>
<!-- end awtwf/Gntml/gntml.edit.wm.html -->
