#set $imgOriginal = $gntmlScalableImage.imgOriginal

#if ($gntmlScalableImage.title != "") {
	<div class="gntml_title"><strong>$gntmlScalableImage.title</strong></div>
}

#if ($imgOriginal == null) {
	<div class="gntml_error">$gntmlScalableImage.blockName: No image uploaded yet</div>
} #else {

	#setblock $imgTag {
		$imgOriginal.atWidthFormat.get($blockStyle_width).get($gntmlScalableImage.imgFormat_id).imgTag.attr("alt", $gntmlScalableImage.alt)
	}

	#if ($gntmlScalableImage.functionality.Name == "NONE") {
		$imgTag
	} #elseif ($gntmlScalableImage.functionality.Name == "ZOOM") {
		<a href="$node.url?view=zoomScalableImage&id=$gntmlScalableImage.id" title="View zoomed image" class="ZOOM">$imgTag</a>
	} #elseif ($gntmlScalableImage.functionality.Name == "NODE") {
		#set $targetNode = $gntmlScalableImage.targetNode
		#if ($targetNode != null) {
			<a href="$targetNode.url" class="NODE">$imgTag</a>
		} #else {
			$imgTag
		}
	} #elseif ($gntmlScalableImage.functionality.Name == "EXTERNAL") {
		<a href="$gntmlScalableImage.imageTarget" class="EXTERNAL">$imgTag</a>
	} #else {
		<div class="gntml_error">Unknown functionality type: $gntmlScalableImage.functionality</div>
	}

	#if ($gntmlScalableImage.isDownloadable) {
		<p class="img_download"><a href="$imgOriginal.webPath">Download</a> 
		($(imgOriginal.sizeKb)Kb $(imgOriginal.width)x$(imgOriginal.height) $imgOriginal.imgFormat.imFormat)</p>
	}

}
